/* Contact.css */

.contact {
    background-color: var(--white); /* Fondo blanco para el formulario */
    padding: 40px 20px;
    margin: 50px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
  }
  
  .contact input,
  .contact textarea {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del input */
  }
  
  .contact textarea {
    min-height: 150px; /* Altura mínima para el área de texto */
    resize: vertical; /* Permite que el usuario ajuste la altura del textarea */
  }
  
  .contact button {
    padding: 15px;
    background-color: var(--teal); /* Usamos el color Teal para el botón */
    color: var(--white);
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact button:hover {
    background-color: #2a5b72; /* Cambio de color al pasar el ratón */
  }
  
  /* Media Queries para Responsividad */
  @media (max-width: 768px) {
    .contact {
      padding: 30px 15px;
    }
  
    .contact h2 {
      font-size: 1.8em;
    }
  
    .contact input,
    .contact textarea {
      font-size: 1em;
    }
  }
  