/* Header.css */

.header {
    background-color: var(--blue-dark); /* Azul oscuro de fondo */
    color: var(--white);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 2em;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
    font-size: 1.1em;
  }
  
  nav ul li a {
    color: var(--white);
  }
  
  .cta-btn {
    background-color: var(--teal); /* Verde Teal */
  }
  