/* Hero.css */

.hero {
    background: url('/public/images/Hero-image.jpg') center/cover no-repeat;
    color: var(--white);
    text-align: center;
    padding: 120px 20px;
  }
  
  .hero h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }
  
  .hero .cta-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: var(--blue);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .hero .cta-btn:hover {
    transform: scale(1.1);
  }
  