/* Testimonials.css */

.testimonials {
    background-color: var(--gray-light);
    padding: 60px 20px;
    text-align: center;
  }
  
  .testimonial {
    margin-bottom: 30px;
  }
  
  .testimonial p {
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .testimonial cite {
    font-size: 1em;
    color: #777;
  }
  
  .testimonial img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  