/* App.css */

/* Variables CSS para la paleta de colores */
:root {
  --black: #000000; /* Negro */
  --blue: #007BFF; /* Azul */
  --teal: #3A6F91; /* Verde Teal */
  --white: #FFFFFF; /* Blanco */
  --gray-light: #F1F1F1; /* Gris claro */
}

/* Estilo global */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--gray-light); /* Gris claro de fondo */
  color: var(--black); /* Texto principal negro */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .cta-btn {
    padding: 12px 25px;
    font-size: 1.1em;
  }

  .hero {
    padding: 100px 20px;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 80%;
    margin-bottom: 20px;
  }

  .footer {
    font-size: 0.9em;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 15px 30px;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .services {
    flex-direction: row;
    justify-content: space-around;
  }
}
