/* Variables CSS para la paleta de colores */
:root {
  --blue-dark: #0A1D29; /* Azul oscuro */
  --teal: #3A6F91; /* Verde Teal */
  --white: #FFFFFF; /* Blanco */
  --gray-light: #F1F1F1; /* Gris claro */
}

/* Estilo global */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--gray-light); /* Gris claro de fondo */
  color: var(--blue-dark); /* Texto principal azul oscuro */
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Botones CTA */
.cta-btn {
  background-color: var(--teal); /* Verde Teal */
  color: var(--white);
  padding: 12px 30px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-btn:hover {
  background-color: #2a5b72; /* Azul más oscuro */
  transform: scale(1.05);
}



/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .cta-btn {
    padding: 12px 25px;
    font-size: 1.1em;
  }

  .hero {
    padding: 100px 20px;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 80%;
    margin-bottom: 20px;
  }

  .footer {
    font-size: 0.9em;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 15px 30px;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .services {
    flex-direction: row;
    justify-content: space-around;
  }
}
